/* Common styles for all alert banners */
.fz-banner--notice,
.fz-banner--warning {
  border-radius: 2px;
  align-items: center; /* aligns vertically */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: left; /* aligns horizontally */
  margin: 0 auto 10px auto;
  text-align: left;
  
  .fz-banner__icon,
  .fz-banner__copy {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .fz-banner__icon {
    max-width: 30px;
    width: 10%;
  }
  
  .fz-banner__copy {
    font-size: 11px;
    line-height: 1.4;
    padding-left: 5%;
    width: 85%;
  }
  
}
