$viewportWidth: 100vw;
$stepTitlesWidth: 33vw;
$pageTitleLeftPadding: 0.33 * 0.15 * $viewportWidth;
$pageContentLeftPadding: 0.33 * 0.15 * $viewportWidth;
$stepsContentWidth: $viewportWidth / 2 + $pageContentLeftPadding;
$airfrovTeal: #65beb9;
$stepNrDiscDiameter: 21px;

.fz-multistep-form-wrapper {
  margin-left: 0;
  padding-left: 0;
  width: $viewportWidth;
}

.fz-steps-wrapper {
  background-color: #fafafa;
  float: left;
  padding: 20px 0 20px 0;
  position: relative;
  min-height: 100vh;
  width: $stepTitlesWidth;
  
  .fz-header-back-btn, .fz-steps-footer {
    margin-left: $pageTitleLeftPadding;
  }
  
  .fz-header-back-btn {
    display: inline-block;
  }
  
  .fz-steps-footer {
    color: rgba(0,0,0,0.6);
    font-size: 11px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 10px;
    line-height: 1.4;
    
    a {
      color: #65beb9;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
    
  }
  
}
.fz-page-title {
  color: #333333;
  font-size: 24px;
  font-weight: normal;
  padding-left: $pageTitleLeftPadding;
  text-shadow: none;
}
.fz-content-wrapper {
  background-color: #ffff;
  float: left;
  padding: 20px 0 20px 0;
  width: $stepsContentWidth;
  
  .fz-step-indicator {
    color: $airfrovTeal;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.6px;
    margin-top: 0px;
    text-transform: uppercase;
  }
  
  .fz-content-step__title {
    color: rgba(0, 0, 0, 0.8);
    font-size: 19px;
    font-weight: 500;
  }
  
  .fz-form-grp,
  .fz-form-grp__name,
  .fz-form-grp__input,
  .fz-form-grp__name__title,
  .fz-form-grp__name__deck {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  
  .fz-form-grp,
  .fz-form-grp--multiline {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: $stepsContentWidth - $pageContentLeftPadding;
    
    .fz-form-grp__name,
    .fz-form-grp__input {
      width: 50%;
    }
    
    .fz-form-grp__name {
      // -webkit-align-items: flex-start; /* aligns vertically */
      // align-items: flex-start; /* aligns vertically */
      // justify-content: left; /* aligns horizontally */
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-bottom: 7px;
      margin-top: 7px;
      text-align: left;
      
      .fz-form-grp__name__title,
      .fz-form-grp__name__deck {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
      }
      
      .fz-form-grp__name__title {
        color: rgba(0, 0, 0, 0.8);
        font-size: 14px;
        letter-spacing: 0px;
      }
      
      .fz-form-grp__name__deck {
        color: rgba(0, 0, 0, 0.6);
        font-size: 11px;
        line-height: 15.4px;
      }
      
    }
    
    .fz-form-grp__input {
      display: inline-block;
      text-align: right;
    }
    
  }
  
  .fz-form-grp--multiline {
    
    .fz-form-grp__name,
    .fz-form-grp__input {
      display: inline-block;
      text-align: left;
      width: 100%;
    }
    
    .fz-form-grp__input {
      margin-bottom: 10px;
    }
    
  }
  
  hr {
    border: solid #d8d8d8 1px;
  }
  
}

ul.fz-content-steps, ul.fz-steps-select {
  list-style-type: none;
  padding-left: 0px;
}

.fz-step-indicator, .fz-content-step {
  padding-left: $pageContentLeftPadding;
}

li.fz-step-title {
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 19px;
  padding: 10px 10px $pageContentLeftPadding $pageTitleLeftPadding;
  
  &:first-child {
    background-color: #ffffff;
  }
  
  &:hover {
    color: $airfrovTeal;
  }
  
  &:hover > .fz-step-nr-disc {
    border-color: $airfrovTeal;
    color: $airfrovTeal;
  }
  
  &:hover > .fz-step-copy > .fz-step-title__name {
    color: $airfrovTeal;
  }
  
  .fz-step-nr-disc, .fz-step-nr {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  
  .fz-step-nr-disc {
    align-items: center; /* aligns vertically */
    border: solid 1px #b1afaf;
    border-radius: 12.5px;
    color: rgba(0, 0, 0, 0.5);
    float: left;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: $stepNrDiscDiameter;
    justify-content: center; /* aligns horizontally */
    width: $stepNrDiscDiameter;
    text-align: center;
  }
  
  .fz-step-nr {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 11px;
  }
  
  .fz-step-copy {
    float: left;
    width: $viewportWidth / 4;
    margin: 0 0 0 10px;
  }
  
  .fz-step-title__name {
    color: rgba(0, 0, 0, 0.6);
    font-size: 19px;
    font-weight: 500;
    margin: 0 0 0 0;
  }
  
  .fz-step-title__deck {
    color: rgba(0, 0, 0, 0.5);
    font-size: 11px;
    font-weight: 500;
    margin-top: 5px;
  }
  
}
