$radioIconSize: 64px;
$min-width-of-lg-devices: 1200px;
$airfrovTeal: #65beb9;

.fz-radio-grp--big {
	
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	
	label.fz-radio-wrapper,
	label.fz-radio-wrapper--disabled {
		cursor: pointer;
		display: inline-block;
		min-width: 125px;
		position: relative;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.fz-radio-wrapper,
	.fz-radio-wrapper--disabled {
		margin: 10px 5px 20px 5px;
		
		&:first-child {
			margin: 10px 5px 20px 0px;
		}
		
		&:last-child {
			margin: 10px 0px 20px 5px;
		}
		
	}

	/* Hide the browser's default radio button */
	label.fz-radio-wrapper input,
	label.fz-radio-wrapper--disabled input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
	}

	/* Shared button styles */
	.fz-radio-wrapper .fz-radio-inner,
	.fz-radio-wrapper--disabled .fz-radio-inner {
		border: solid 1px #e5e5e5;
		border-radius: 2px;
		font-size: 11px;
		font-weight: 600;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		padding: 10px 20px;
		
		.fz-radio-graphic {
			i {
				/* For Font-Awesome */
				align-items: center; /* aligns vertically */
				display: -webkit-box;
				display: -moz-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				justify-content: center; /* aligns horizontally */
				font-size: $radioIconSize + 3px;
			}
			svg {
				fill: #5c5c5c;
				height: $radioIconSize;
				width: $radioIconSize;
			}
			svg.fz-svg--greyscale {
				// Fill declaration must be set manually per path in the svg element
				-moz-filter: grayscale(100%);
				-webkit-filter: grayscale(100%);
				-ms-filter: grayscale(100%);
				filter: grayscale(100%);
			}
		} 
		
		.fz-radio-inner__title {
			color: rgba(0, 0, 0, 0.8);
			font-size: 14px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			margin-bottom: 5px;
			margin-top: 5px;
			text-align: center;
		}
		
		.fz-radio-inner__subtitle {
			color: rgba(0, 0, 0, 0.6);
			font-size: 11px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.65;
			letter-spacing: normal;
			margin-bottom: 5px;
			margin-top: 5px;
			text-align: center;
		}
		
	}
	
	.fz-radio-wrapper--disabled .fz-radio-inner {
		opacity: 0.5;
	}

	/* On mouse-over the actual input, custom styles should be declared in here */
	label.fz-radio-wrapper:hover input ~ .fz-radio-inner,
	label.fz-radio-wrapper--disabled:hover input ~ .fz-radio-inner {
		background-color: rgba(101, 190, 185, 0.1);
	}

	/* On actual input checked, custom styles should be declared in here */
	label.fz-radio-wrapper input:checked ~ .fz-radio-inner,
	label.fz-radio-wrapper--disabled input:checked ~ .fz-radio-inner {
		border-color: $airfrovTeal;
		background-color: rgba(101, 190, 185, 0.1);
		color: $airfrovTeal;
		
		.fz-radio-graphic {
			svg {
				fill: $airfrovTeal;
			}
			svg.fz-svg--greyscale {
				-moz-filter: unset;
				-webkit-filter: unset;
				-ms-filter: unset;
				filter: unset;
			}
		}
		
	}
	
	@media screen and (min-width: $min-width-of-lg-devices + 200px) {
		display: inline-block;
	}
	
}
