@import '../alerts.scss';

.fz-banner--notice {
  background-color: rgba(253, 251, 244, 1);
  
  .fz-banner__icon {
    svg {
      width: 30px;
    }
  }
  
  .fz-banner__copy {
    color: #d5aa66;
  }
  
}
