$white: #ffffff;
$colour--silver-chalice: #b0b0b0;
$colour--mercury: #e5e5e5;
$minButtonWidth: 100px;
$buttonPaddingTop: $minButtonWidth / 10;
$anchorPaddingTop: ($minButtonWidth / 10);

button.fz-btn--neu, a.fz-btn--neu,
button.fz-btn[data-fz-btn-variant="neu"], a.fz-btn[data-fz-btn-variant="neu"] {
  border-radius: 2px;
  background-color: $white;
  border: solid 1px $colour--mercury;
  color: $colour--silver-chalice;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  min-width: $minButtonWidth;
  padding: $buttonPaddingTop;
  text-align: center;
  
  &:hover {
    background-color: $colour--mercury;
  }
  
  &:active {
    background-color: $colour--silver-chalice;
    border-color: $colour--silver-chalice;
    color: $white;
  }
  
}

button.fz-btn--neu,
button.fz-btn[data-fz-btn-variant="neu"] {
  padding: $buttonPaddingTop;
}

a.fz-btn--neu,
a.fz-btn[data-fz-btn-variant="neu"] {
  padding: $anchorPaddingTop;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
