$primary-colour--default: #337ab7;
$primary-colour--light: #4099e5;
$primary-colour--dark: #24557f;
$white: #ffffff;
$minButtonWidth: 100px;
$buttonPaddingTop: $minButtonWidth / 10;
$anchorPaddingTop: ($minButtonWidth / 10) - 1;

button.fz-btn--info, a.fz-btn--info,
button.fz-btn[data-fz-btn-variant="info"], a.fz-btn[data-fz-btn-variant="info"] {
  border-radius: 2px;
  background-color: $primary-colour--default;
  border: solid 1px $primary-colour--default;
  color: $white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  min-width: $minButtonWidth;
  padding: $buttonPaddingTop;
  text-align: center;
  &:hover {
    background-color: $primary-colour--light;
    border: solid 1px $primary-colour--light;
  }
  
  &:active {
    background-color: $primary-colour--dark;
    border: solid 1px $primary-colour--dark;
    color: $white;
  }
  
}

button.fz-btn--info,
button.fz-btn[data-fz-btn-variant="info"] {
  padding: $buttonPaddingTop;
}

a.fz-btn--info,
a.fz-btn[data-fz-btn-variant="info"] {
  padding: $anchorPaddingTop;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
