$colour--gray60: #999999; /* rgba(0, 0, 0, 0.4) */

$primary-colour--default: #337ab7;
$primary-colour--light: #4099e5;
$primary-colour--dark: #24557f;
$primary-colour--faded: #edf2f8;
$primary-colour--disabled: $colour--gray60;
$white: #ffffff;
$minButtonWidth: 100px;
$buttonPaddingTop: $minButtonWidth / 10;
$anchorPaddingTop: ($minButtonWidth / 10);

button.fz-btn--info, a.fz-btn--info,
button.fz-btn[data-fz-btn-variant="info"], a.fz-btn[data-fz-btn-variant="info"],
button.fz-btn[data-fz-btn-variant="info--alt"], a.fz-btn[data-fz-btn-variant="info--alt"] {
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  min-width: $minButtonWidth;
  padding: $buttonPaddingTop;
  text-align: center;
}

button.fz-btn--info, a.fz-btn--info,
button.fz-btn[data-fz-btn-variant="info"], a.fz-btn[data-fz-btn-variant="info"] {
  background-color: $primary-colour--default;
  border: solid 1px $primary-colour--default;
  color: $white;
  &:hover {
    background-color: $primary-colour--light;
    border: solid 1px $primary-colour--light;
  }
  
  &:active {
    background-color: $primary-colour--dark;
    border: solid 1px $primary-colour--dark;
    color: $white;
  }
  
  &[disabled] {
    background-color: $primary-colour--disabled;
    border: solid 1px $primary-colour--disabled;
  }
}

button.fz-btn--info, a.fz-btn--info,
button.fz-btn[data-fz-btn-variant="info--alt"], a.fz-btn[data-fz-btn-variant="info--alt"] {
  background-color: $white;
  border: solid 1px $primary-colour--default;
  color: $primary-colour--default;
  &:hover {
    background-color: $primary-colour--faded;
  }
  
  &:active {
    background-color: $primary-colour--default;
    color: $white;
  }
  
  &[disabled] {
    border: solid 1px $primary-colour--disabled;
    color: $primary-colour--disabled;
  }
  
}

button.fz-btn--info,
button.fz-btn[data-fz-btn-variant="info"],
button.fz-btn[data-fz-btn-variant="info--alt"] {
  padding: $buttonPaddingTop;
}

a.fz-btn--info,
a.fz-btn[data-fz-btn-variant="info"],
a.fz-btn[data-fz-btn-variant="info--alt"] {
  padding: $anchorPaddingTop;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
