@import '../alerts.scss';

.fz-banner--warning {
  background-color: rgba(254,242,239,1);
  
  .fz-banner__icon {
    svg {
      width: 30px;
    }
  }
  
  .fz-banner__copy {
    color: rgba(226,119,92,1);
  }
  
}
