$colour--gray60: #999999; /* rgba(0, 0, 0, 0.4) */

$primary-colour: #65beb9;
$primary-colour--light: #77ccc8;
$primary-colour--dark: #52afa9;
$primary-colour--faded: #f1f8f8;
$primary-colour--disabled: $colour--gray60;
$white: #ffffff;

$minButtonWidth: 100px;
$buttonPaddingTop: $minButtonWidth / 10;
$anchorPaddingTop: ($minButtonWidth / 10);

button.fz-btn--pri, a.fz-btn--pri,
button.fz-btn[data-fz-btn-variant="pri"], a.fz-btn[data-fz-btn-variant="pri"],
button.fz-btn[data-fz-btn-variant="pri--alt"], a.fz-btn[data-fz-btn-variant="pri--alt"] {
  border-radius: 2px;
  color: $white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  min-width: $minButtonWidth;
  padding: $buttonPaddingTop;
  text-align: center;
}

button.fz-btn--pri, a.fz-btn--pri,
button.fz-btn[data-fz-btn-variant="pri"], a.fz-btn[data-fz-btn-variant="pri"] {
  background-color: $primary-colour;
  border: solid 1px $primary-colour;
  color: $white;
  &:hover {
    background-color: $primary-colour--light;
    border-color: $primary-colour--light;
  }
  
  &:active {
    background-color: $primary-colour--dark;
    border-color: $primary-colour--dark;
  }
  
  &[disabled] {
    background-color: $primary-colour--disabled;
    border: solid 1px $primary-colour--disabled;
  }
  
}

button.fz-btn[data-fz-btn-variant="pri--alt"], a.fz-btn[data-fz-btn-variant="pri--alt"] {
  background-color: $white;
  border: solid 1px $primary-colour;
  color: $primary-colour;
  &:hover {
    background-color: $primary-colour--faded;
  }
  
  &:active {
    background-color: $primary-colour;
    color: $white;
  }
  
  &[disabled] {
    border: solid 1px $primary-colour--disabled;
    color: $primary-colour--disabled;
  }
  
}

button.fz-btn--pri,
button.fz-btn[data-fz-btn-variant="pri"],
button.fz-btn[data-fz-btn-variant="pri--alt"] {
  padding: $buttonPaddingTop;
}

a.fz-btn--pri,
a.fz-btn[data-fz-btn-variant="pri"],
a.fz-btn[data-fz-btn-variant="pri--alt"] {
  padding: $anchorPaddingTop;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
