$colour--airfrov-peach: #e48581;
$colour--airfrov-peach--faded: #fcf3f3;
$white: #ffffff;
$colour--gray60: #999999;

$minButtonWidth: 100px;
$buttonPaddingTop: $minButtonWidth / 10;
$anchorPaddingTop: ($minButtonWidth / 10);

button.fz-btn--neg, a.fz-btn--neg,
button.fz-btn[data-fz-btn-variant="neg"], a.fz-btn[data-fz-btn-variant="neg"] {
  border-radius: 2px;
  background-color: $white;
  border: solid 1px $colour--airfrov-peach;
  color: $colour--airfrov-peach;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  min-width: $minButtonWidth;
  padding: $buttonPaddingTop;
  text-align: center;
  &:hover {
    background-color: $colour--airfrov-peach--faded;
  }
  
  &:active {
    background-color: $colour--airfrov-peach;
    color: $white;
  }
  
  &[disabled] {
    border: solid 1px $colour--gray60;
    color: $colour--gray60;
  }
  
}

button.fz-btn--neg,
button.fz-btn[data-fz-btn-variant="neg"] {
  padding: $buttonPaddingTop;
}

a.fz-btn--neg,
a.fz-btn[data-fz-btn-variant="neg"] {
  padding: $anchorPaddingTop;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
