$checkbox-size: 25px;

$teal-cover: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 321.48 380"><path fill="%2365beb9" d="M292.34,0a27.94,27.94,0,0,1,11.05,2.26,27.82,27.82,0,0,1,18.09,25.87V351.87a28.65,28.65,0,0,1-29.13,27.88,30.52,30.52,0,0,1-20.85-8L160.74,265.23,50,371.71A30.81,30.81,0,0,1,29.14,380a28,28,0,0,1-11-2.26A27.83,27.83,0,0,1,0,351.86V28.13A27.82,27.82,0,0,1,18.09,2.26,28.1,28.1,0,0,1,29.13,0Z" /></svg>';
$bookmark-icon-el: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 321.48 380"><path fill="%23b0b0b0" d="M288.89,32.5H32V344.12L138.1,242.26l22.33-21.33,22.33,21.33L288.89,344.12Zm3-32.11A29.41,29.41,0,0,1,321,28.49V351.9a28.63,28.63,0,0,1-29.1,27.85,30.52,30.52,0,0,1-20.83-8L160.43,265.35,49.78,371.72A30.75,30.75,0,0,1,29,380a28.09,28.09,0,0,1-11-2.25A27.83,27.83,0,0,1-.15,351.89V28.49A27.8,27.8,0,0,1,17.92,2.65,28.09,28.09,0,0,1,29,.39Z"/></svg>';
$teal-bookmark-icon-el: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 321.48 380"><path fill="%2365beb9" d="M288.89,32.5H32V344.12L138.1,242.26l22.33-21.33,22.33,21.33L288.89,344.12Zm3-32.11A29.41,29.41,0,0,1,321,28.49V351.9a28.63,28.63,0,0,1-29.1,27.85,30.52,30.52,0,0,1-20.83-8L160.43,265.35,49.78,371.72A30.75,30.75,0,0,1,29,380a28.09,28.09,0,0,1-11-2.25A27.83,27.83,0,0,1-.15,351.89V28.49A27.8,27.8,0,0,1,17.92,2.65,28.09,28.09,0,0,1,29,.39Z"/></svg>';

.fz-checkbox-wrapper[data-fz-checkbox-type="bookmark"] {
  align-items: unset;
  display: block; // This value cannot be unset as it would prevent the teal cover from sliding down
  -webkit-flex-wrap: unset;
  -ms-flex-wrap: unset;
  flex-wrap: unset;
  justify-content: unset;
  margin: unset;
  text-align: unset;
  height: unset;
  width: unset;
  
  .fz-checkbox {
    display: unset;
  }
  
  &:nth-child(2) {
    margin-left: unset;
  }
  
}

.fz-checkbox-wrapper[data-fz-checkbox-type="bookmark"] {
  position: relative; // Sets all children z-indices relative to this parent element
  overflow-y: hidden;
  height: $checkbox-size;
  width: $checkbox-size;
  .fz-checkbox {
    cursor: pointer;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    height: inherit;
    width: inherit;
    z-index: 2;
    &:hover ~ .fz-bookmark {
      background: url("data:image/svg+xml;charset=UTF-8," + $teal-bookmark-icon-el) center center no-repeat;  // from #65beb9 border to #b0b0b0 border upon mouse hover
    }
    &:checked ~ .fz-bookmark {
      background: url("data:image/svg+xml;charset=UTF-8," + $teal-bookmark-icon-el) center center no-repeat;
      z-index: 0;
      &::after {
        top: 0%; // Clicked state of #65beb9 cover after being slid down
      }
    }
  }
  .fz-bookmark {
    background: url("data:image/svg+xml;charset=UTF-8," + $bookmark-icon-el) center center no-repeat;
    background-size: contain;
    border: none;
    content: '';
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 0px;
    padding: 0px;
    height: inherit;
    width: inherit;
    z-index: 1;
    &:hover {
      background: url("data:image/svg+xml;charset=UTF-8," + $bookmark-icon-el) center center no-repeat;
    }
    &:after {
      background: url("data:image/svg+xml;charset=UTF-8," + $teal-cover) center center no-repeat;
      background-size: contain;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      border: none;
      box-shadow: none;
      content: "";
      margin: 0px;
      padding: 0px;
      position: absolute;
      height: 100%;
      -webkit-transition: top 0.25s;
      -moz-transition: top 0.25s;
      -o-transition: top 0.25s;
      transition: top 0.25s;
      transition-timing-function: cubic-bezier(.7,.68,.48,1.04); // Cubic bezier unsupported in IE and Edge
      left: 0;
      width: 100%;
      top: -100%; // Initial / Unclicked position, hidden due to overflow-y of parent
    }
  }
  
}
