html, body, * {
  font-family: 'Open Sans', sans-serif;
}

code {
  background-color: rgba(255,226,223,0.5);
  border-radius: 3px;
  color: rgba(255,128,120,1);
  font-family: 'Menlo', 'Courier New', Courier, monospace;
  padding: 1px;
}

.code-snippet {
  border: none;
  background-color: rgba(255,226,223,0.2);
  border-radius: 3px;
  color: rgba(255,128,120,1);
  font-family: 'Menlo', 'Courier New', Courier, monospace;
  font-size: 15px;
  margin-top: 10px;
  padding: 10px;
  resize: none;
  width: 100%;
}

.fz-banner__copy code {
  display: inline;
}

.demo-container,
.console,
#console--input-radio-basic,
#console--input-radio-binary,
#console--input-radio-classic,
#console--input-radio-ticked {
  width: 50vw;
}

.console,
#console--input-radio-basic,
#console--input-radio-binary,
#console--input-radio-classic,
#console--input-radio-ticked {
	background-color: black;
	color: #65beb9;
	font-family: 'Menlo', Courier, monospace;
	margin-top: 20px;
	padding: 10px 0;
}

.meal-selection__header {
  font-weight: 600;
  margin: 0 0 0 5px;
}

@media only screen and (max-width: 767px) {
	.demo-container {
		width: 100vw;
	}
  
  .console,
	#console--input-radio-basic,
	#console--input-radio-binary,
  #console--input-radio-classic,
  #console--input-radio-ticked {
		width: unset;
		margin: 20px 0 0 0;
	}

}
