/* Classic radio element */
$length: 18px;
$length--mobile: 20px;
$radio-inner-length: round($length * (9 / 10));
$radio-inner-length--mobile: round($length--mobile * (9 / 10));
$border-width: round($length / 15);
$border-width--mobile: round($length--mobile / 15);

$white: #ffffff;
$colour--fern: #5cb85c;
$colour--silver-chalice: #b0b0b0;
$colour--fern--no-hash: "5cb85c";
$colour--silver-chalice--no-hash: "b0b0b0";
$colour--buttered-rum--faded: rgba(143,142,143,0.2);

$radio-inner-el: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 101 101"><circle fill="%23'+$colour--fern--no-hash+'" cx="50.5" cy="50.5" r="50"/></svg>';
$radio-inner-el--disabled: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 101 101"><circle fill="%23'+$colour--silver-chalice--no-hash+'" cx="50.5" cy="50.5" r="50"/></svg>';
$clicked-halo-colour: $colour--buttered-rum--faded;
/* %23 is used instead of # because the character is reserved as a fragment identifier insude the URI */
/* See https://css-tricks.com/using-svg/ */
  
.fz-radio-wrapper[data-fz-radio-type="classic"] {
  align-items: center; /* aligns vertically */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: left; /* aligns horizontally */
  margin: 0 auto;
  text-align: center;
  
  .fz-radio-label {
    display: -webkit-flex;
    display: -webkit-box; /* needed for Safari. See https://css-tricks.com/forums/topic/flexbox-not-working-on-safari/ */
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: round($length / 1.3);
    margin-left: ($length / 5);
    margin-right: ($length / 5);
    
    @media screen and (max-width: 768px) {
      font-size: round($length--mobile / 1.4);
      margin-left: $length--mobile;
      margin-right: $length--mobile;
    }
    
  }
  
  .fz-radio-inner {
    display: block;
    box-sizing: border-box;
    width: $radio-inner-length;
    height: $radio-inner-length;
    background: $white;
    margin: ($length / 5);
    border-color: $colour--fern;
    border-style: solid;
    border-width: $border-width;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: .2s;
    
    @media screen and (max-width: 768px) {
      margin: ($length--mobile / 5);
      width: $radio-inner-length--mobile;
      height: $radio-inner-length--mobile;
    }
    
  }
  .fz-radio-inner:before {
    content: '';
    position: absolute;
    display: block;
    height: 300%;
    width: 300%;
    top: -100%;
    left: -100%;
    z-index: -1;
    border-radius: 50%;
    transition: .3s;
  }
  .fz-radio-inner:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background: url("data:image/svg+xml;charset=UTF-8," + $radio-inner-el) center center no-repeat;
    /* teal-tick.svg is inserted raw here as modifiers (e.g. :after, :hover) cannot be edited in JS. */
    background-size: contain;
    transform: scale(0);
    transition: .2s;
  }
  .fz-radio-inner:active:before {
    background: $clicked-halo-colour;
  }
  
  .fz-radio {
    display: none;
    
    &[disabled] + .fz-radio-inner {
      border-color: $colour--silver-chalice;
    }
    
    &:checked + .fz-radio-inner {
      background: $white;
      border-color: $colour--fern;
      &:after {
        transform: scale(0.7);  
      }
    }
    
    &:checked[disabled] + .fz-radio-inner {
      background: $white;
      border-color: $colour--silver-chalice;
      &:after {
        background: url("data:image/svg+xml;charset=UTF-8," + $radio-inner-el--disabled) center center no-repeat;
      }
    }
    
  }
  
}

.fz-content-wrapper {
  .fz-radio-wrapper[data-fz-radio-type="classic"] {
    &:nth-child(2) {
      margin-left: 0px;
    }
    .fz-radio-inner:before {
      z-index: 0;
    }
  }
}
