$borderRadius: 2px;
$airfrovTeal: #65beb9;

.fz-radio-grp--binary {
	
	label.fz-radio-wrapper {
		cursor: pointer;
		display: inline-block;
		position: relative;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		margin: 10px 0 10px 0;
		user-select: none;
		
		/* Shared button styles */
		.fz-radio-inner {
			border: solid 1px $airfrovTeal;
			color: rgba(0, 0, 0, 0.6);
			font-size: 11px;
			font-weight: normal;
			text-align: center;
			padding: 6px 19.41px;
			line-height: 1.4;
			white-space: nowrap;
		}
		
		&:first-child, &:last-child {
			display: inline-block;
			
			.fz-radio-inner {
				border-width: 1px 1px 1px 1px;
			}
			
		}
		
		&:first-child {
			margin-right: -2px;
			.fz-radio-inner {
				border-radius: $borderRadius 0 0 $borderRadius;
			}
		}
		
		&:last-child {
			margin-left: -3px;
			.fz-radio-inner {
				border-radius: 0 $borderRadius $borderRadius 0;
			}
		}
		/* Hide the browser's default radio button */
		input {
			cursor: pointer;
			position: absolute;
			opacity: 0;
		}
		
	}
	
		/* On mouse-over the actual input, custom styles should be declared in here */
	label.fz-radio-wrapper:hover input ~ .fz-radio-inner {
		background-color: rgba(101, 190, 185, 0.1);
	}

	/* On actual input checked, custom styles should be declared in here */
	label.fz-radio-wrapper input:checked ~ .fz-radio-inner {
		border-color: $airfrovTeal;
		background-color: $airfrovTeal;
		color: #ffffff;
	}

}
